
/*/background-color:rgba(129, 216, 208,1)*!*/

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Gilda Display', serif;*/

/*background-color: rgba(253, 180, 9, 1);*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: helvetica, arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    /*font-weight: bold;*/
}

li{
    list-style-type: none;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }

/*a:hover {*/
    /*color: rgba(129, 216, 208,1);*/
/*}*/

button.tab {
    display: inline;
    border: 0;
    border-radius: 8px;
    padding: 6px 12px;
    margin: 6px 0 0 10px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: rgba(94, 168, 251, .2);
    color: #0201c2;
    outline: none;
}

button.tab:hover{
    background-color: rgba(253, 180, 9, .6);
}

footer{
    width:100%;
    background-color: rgba(47, 72, 214, 0.3);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-top: 40px;
}

.contact {
    color:darkgrey;
    padding-right: 20px;
    float: right;
    line-height: 1.6em;
    font-size: .8em;
    margin:0 30px 30px 30px;
}

.contact a:hover{
    color: #000;
    transition: all .3s;
}

.foot-left{
    width: 50%;
    color:darkgrey;
    padding-left: 20px;
    float: left;
    line-height: 1.6em;
    font-size: .4em;
    margin:0 30px 30px 30px;
}

.foot-left a:hover{
    color: #000;
    transition: all .3s;
}


@media (max-width: 700px) {
    .contact {
        width:50%;
        font-size: .3em;
        margin: -30px 0 20px 0;
    }

    .foot-left {
        display: none;
    }
}

/*=-=-=-=-*/

.dual-box {
    color: black;
    margin:20px;
}

.dual-box h2{
    font-family: 'Cormorant Garamond', serif;
    /*font-size: 1.6em;*/
    line-height: 2em;
    margin:0;
}
.dual-box p{
    margin:0;
    /*font-family: Roboto, sans-serif;*/
    font-weight: 300;
    /*font-size: 1.2em;*/
    line-height: 1.6em;
}

.dual-box.flipped .box:nth-child(1){
    order: 2;
}

.dual-box.flipped .box:nth-child(2){
    order: 1;
}



.box{
    width:50%;
    flex:1 1 auto;
    padding: 10px;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.6em;
}

.box h2{
    font-family:'Cormorant Garamond', serif;
}


.dual-box img{
    width:100%;
}


.flex-parent{
    display: -webkit-flex;
    display: flex;
}

.flex-child{
    flex:1 1 auto;
}

.flex-none{
    flex:none;
}


@media (max-width: 700px) {

    .dual-box .flex-parent {
        flex-direction: column;
    }

    .dual-box .box {
        width: 100%;
        /*margin-top: 50px;*/
        /*right:0;*/
        /*margin-bottom: 40px;*/
    }

    .dual-box.flipped .box:nth-child(1) {
        order: 1;
        /*margin-top: 50px;*/
    }

    .dual-box.flipped .box:nth-child(2) {
        order: 2;
        /*margin-top: 50px;*/
    }

    .dual-box .box .centered-child {
        position: relative;
    }
}




/*=-=-=-=-=-=-= -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/*gird.css*/

/*css clearfix*/

/*float6  .1234ï¼*/

.grid{
    overflow: hidden;
}

.row:after{
    clear: both;
    display: table;
    content: "";
}

.row.gutters{
    margin-right:-5px;
    margin-left: -5px;
}

.gutters>[class*="col-"]{
    text-align: left;
    display: inline-block;
}


[class*="col-"]{
    float: left;
    text-align: left;
    display: inline-block;
}

.col-sm-1 {width: 8.3333%;}
.col-sm-2 {width: 16.6666%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.3333%;}
.col-sm-5 {width: 41.6666%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.3333%;}
.col-sm-8 {width: 66.6666%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.3333%;}
.col-sm-11 {width: 91.6666%;}
.col-sm-12 {width: 100%;}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
@media(min-width:600px){
    .col-md-1 {width: 8.3333%;}
    .col-md-2 {width: 16.6666%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.3333%;}
    .col-md-5 {width: 41.6666%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.3333%;}
    .col-md-8 {width: 66.6666%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.3333%;}
    .col-md-11 {width: 91.6666%;}
    .col-md-12 {width: 100%;}
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
@media(min-width:1000px){
    .col-lg-1 {width: 8.3333%;}
    .col-lg-2 {width: 16.6666%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.3333%;}
    .col-lg-5 {width: 41.6666%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.3333%;}
    .col-lg-8 {width: 66.6666%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.3333%;}
    .col-lg-11 {width: 91.6666%;}
    .col-lg-12 {width: 100%;}
}





