
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Cormorant', serif;*/
/*family=Playfair+Display:400,400i,700,700i|Poppins:300,400,700,900*/
/*font-family: 'Comfortaa', cursive;*/
/*Cormorant:400,400i,500,500i,700,700i*/

/*background-color: rgba(253, 180, 9, 1);*/

/*indexnew*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstSection{
    display: block;
    max-width: 1080px;
    margin: 60px 10px 160px 10px;
    padding:0;
    /*background-color: #9fdbfc;*/
}

.firstSection a:hover{
    color: red;
    transition: all ease-in-out .3s;
}

.vl {
    display: inline-block;
    margin: 0 10px 0 0;
    border-right: 4px solid black;
    width:30%;
    height:320px;
    position: relative;
    text-align: end;
    vertical-align: middle;
}

.vltwo {
    display: inline-block;
    margin: 0 10px 0 0;
    border-right: 4px solid black;
    width:40%;
    /*height:320px;*/
    position: relative;
    text-align: end;
    vertical-align: middle;
    padding: 80px 80px;
}

.vltwo img{
    width: 100%;
}

#iconVerticalOne{
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-right: 50px;
    line-height: 2em;
}

.iconVerticalShow{
    display: inline;
}

#profilePage{
    margin-top: 90px;
}

@media (max-width: 800px) {
    .iconVerticalShow {
        display: none;
    }
    .vltwo {
        padding: -20px 60px 40px 60px;
        width: 100%;
        display: block;
        border-right: 0;
    }
    #profilePage{
        margin-top: 10px;
    }
}


.newIntro{
    position:relative;
    display: inline-block;
    /*height:300px;*/
    vertical-align: middle;
    width:50%;
    font-family: 'Playfair Display', serif;
    margin-left: 5%;
}

.newIntro p{
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.newIntro h1{
    line-height: 1.3em;
    font-size: 3em;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 8px;
}

.column {
    flex: 30%;
    max-width: 30%;
    padding: 0 16px;
}


@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/*...each project...*/

.color-box{
    display: block;
    position: relative;
    margin-top: 16px
}

.color-gray {
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

@media (max-width: 600px) {
    .color-gray{
        filter: none;
    }
}

.color-title{
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /*background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.3));*/
    color: white;
    text-align: left;
}

.color-title h1{
    margin: 10px 10px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 1.4em;

}

.color-title p{
    line-height: 1.4em;
    margin: 10px 14px;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}

.color-box:hover .color-title{
    opacity: 1;
}

.color-box:hover .color-gray{
    filter: grayscale(0%);
    /*filter: gray;*/
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 0.5s ease;
}

.small-show{
    display: none;
    line-height: 1.4em;
}

.small-show h2{
    font-family: 'Playfair Display', serif;
}

.small-show p{
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
}

@media (max-width: 600px) {
    .small-show{
        display: inline-block;
    }
}

.oneThird{
    width: 33%;
    position:relative;
    line-height: 1.6em;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 40px 40px 30px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.oneThird a:hover{
    color: red;
    transition: all ease-in-out .3s;
}

@media (max-width: 600px) {
    .oneThird{
        display: block;
        width: 90%;
    }
}







/* **** indexnew ***** */



/*header HEADER header HEADER*/
header{
    background-size: cover;
    transition: height 1s;
    display: block;
    width:100%;
    height:68px;
}


.menu{
    /*color: transparent;*/
    width:100%;
    /*background-color: rgba(232, 199, 116, 0.4);*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color:black;
}

.menu ul{
    float: right;
    display: inline-block;
    padding:22px;
}

.menu li{
    display: inline;
    margin-right: 40px;
}

.menu li:hover {
    color: red;
    transition: all ease-in-out .3s;
}



.logo-img {
    float: left;
    display: inline-block;
    width: 60px;
    padding: 10px;

}
.logo-img img{
    width: 100%;
}

.logo-name {
    color: transparent;
    font-family: 'Gilda Display', serif;
    float: left;
    padding:16px;
    line-height: 1.3em;
}


.intro{
    width:100%;
    font-size: 2em;
    padding: 18% 20px 22% 20px;
}

.intro h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: italic;
    padding: 20px;
}

.intro h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 10px;
}

.hello{
    width:100%;
    font-size: 2em;
    padding: 20% 20px;
}

.hello h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: italic;
    padding: 20px;
}

.hello h6{
    width: 66%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.8em;
}

.intro p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: .4em;
    /*padding:0;*/
}

/*this `.menu-padding` is actually on <content> tag */
.menu-padding {
    padding-top:50px;
}

.sticky {
    background-color: rgba(255, 255, 255,1);
    box-shadow: 2px 2px 14px 2px #bfbfbf;
    color: #000;
    position: fixed;
    top: 0;
    transition: ease-in-out all 1.4s;
    z-index: 3;
}

/* HEADER header MEDIA  Mix-Width 700px  HEADER header HEADER MEDIA !*/

@media (max-width: 700px) {

    .menu{
        padding:0;
        margin:0;
        font-size: .4em;
    }

    .menu ul{
        padding:20px;
    }

    .menu li{
        margin:6px;
    }

    .logo-img {
        width: 50px;
        padding: 6px;
    }

    .logo-name {
        display: none;
    }

    .intro{
        padding: 40% 10px;
    }

    .hello{
        padding: 30% 10px 36% 10px;
    }

    .hello h6{
        width: 100%;
        padding: 20px;
        font-size: .6em;
    }

}

@media (max-width: 700px){
    .firstSection{
        margin-top: 0;
    }
    .vl{
        width: 14%;
    }
    .newIntro{
        width: 76%;
        margin-left: 3%;
    }
    .newIntro h1{
        font-size: 2em;
    }

    .newIntro p{
        font-size: 13px;
    }
}

/* content CONTENT content CONTENT content CONTENT content CONTENT */
.content{
    width: 100%;
    margin:0;
    padding:0;
}


.brief {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    display: inline-block;
    line-height: 1.4em;
}

.brief img{
    width: 100%;
}

.description {
    max-width:100%;
    display: block;
}

#hi {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 4em;
    padding: 160px 20px 30px 60px;
}

.card {
    /*margin: 2% 2%;*/
    margin: 20px;
    position: relative;
    max-width: 29%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    /*background-color: rgba(129, 216, 208,1);*/
}

.card img {
    width: 100%;
    border: none;
    vertical-align: middle;
}


.overlay {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .4s ease;
    vertical-align: middle;
    opacity: 0;
    line-height: 1.6em;
}


.card:hover .overlay {
    opacity: 1;
    transition: .4s ease;
}

.overlay h2 {
    /*color: white;*/
    vertical-align: middle;
    margin-top: 30%;
}

.overlay p {
    vertical-align: middle;
    padding: 20px;
}



/* MEDIA media MaxWith 700px == content CONTENT content CONTENT*/

@media (max-width: 768px) {
    div.content{
        margin-top: 30px;
    }
    .card{
        max-width: 90%;
    }

    .overlay {
        display: inline-block;
        position: relative;
        background-color: transparent;
        opacity: 1;
        vertical-align: top;
        color: black;
        font-size: .8em;
        height:40%;
        top:60%;
        padding: 8px 0;
        line-height: 1.4em;
    }

    .overlay h2{
         margin:0;
        padding:0;
         /*padding:4px 2px 2px 0;*/
    }

    .overlay p{
        margin:0;
        padding:0;
        /*padding: 4px;*/
    }
    .overlay ul{
        display: none;
    }

}

.description {
    padding: 20px;
    line-height: 1.6em;
}

.description-left{
    float: left;
    width: 60%;
    padding: 20px;
    line-height: 1.6em;
    z-index: 1;
    font-size: .6em;
}

.description-right{
    width: 100%;
    padding: 20px;
    line-height: 1.6em;
    z-index: 1;
}

.description-right ul{
    font-weight: 300;
}

.ebook {
    font-size: 0;
    width:100%;
    padding: 50px;
    margin:0 auto;
    /*font-size: 0;*/
}

.ebook img{
    width: 100%;
    padding: -4px;
}

@media (max-width: 700px) {
    .description-right{
        padding:10px;
        margin:0;
        font-size: .6em;
    }
    .ebook {
        width:90%;
    }


}

.timeorange {
    display: inline-block;
    width:22%;
    padding: 20px;
}

.timeorange img {
    /*display: inline-block;*/
    width:100%;
    /*padding: 10px;*/
    /*margin:0;*/
}

p.quote{
    font-size: 4px;
}

@media (max-width: 700px) {
    .timeorange {
        width:42%;
        padding: 8px;
    }
}

.china {
    display: inline-block;
    font-size: 0;
    margin:0;
    padding:10px;
    vertical-align: middle;
}
.china img{
    width:100%;
}

.brief h3 {
    display: block;
    margin: 30px;
}

.space {
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    padding: 50px 0;
    margin: 50px 0 10px 0;
}

.one-big{
    width:100%;
}

.one-big img{
    width: 100%;
}

.one{
    width: 80%;
}

.one img{
    /*width: 90%;*/
}

.two{
    width:44%;
}

.three-one{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.6em;
    width: 33%;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.three-one h2{
    font-weight: 300;
}

.three-one p{
    padding: 20px 0;
}

.three-one a:hover{
    color: rgba(0,0,0,.6);
    transition: all .3s;
}

.four {
    width:22%;
}

.four-two {
    width:22%;
}

.me{
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 300;
    display: inline-block;
    padding: 30px;
    line-height: 1.6em;
    width: 44%;
}

@media (max-width: 700px) {
    .four-two {
        width: 44%;
    }

    .three-one{
        width: 99%;
    }

    .me {
        display: block;
        width: 100%;
    }
}




.me img{
    width: 100%;
}


.left-big {
    float: left;
    display: inline-block;
    width: 70%;
    /*padding: 40px;*/
}

.left-big img{
    width: 100%;
}

.left-small{
    display: inline-block;
    width: 30%;
    padding: 20px;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.left-small h2{
    font-family: 'Cormorant Garamond', serif;
}

.left-small img{
    width: 100%;
}

.right-big {
    display: inline-block;
    width:70%;
    /*padding: 40px;*/
    float: left;
    margin-bottom: 70px;
}

.right-big img{
    width: 100%;
}

.right-small {
    display: inline-block;
    width:30%;
    padding: 20px;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.right-small h2{
    font-family: 'Cormorant Garamond', serif;
}

.right-small img{
    width: 100%;
}

@media (max-width: 700px) {
    .right-small{
        width: 100%;
        display: block;
        padding: 10px;
        margin: 0;
    }

    .right-big{
        width: 100%;
        display: block;
        padding: 10px;
        margin: 0;
    }

    .left-small {
        width: 100%;
        display: block;
        padding: 10px;
        margin: 0;
    }

    .left-big{
        width: 100%;
        display: block;
        padding: 10px;
        margin: 0;
    }

    #workflow {
        display: none;
    }
}

/*h1#frequently{*/
    /*display: block;*/
    /*position: absolute;*/
    /*font-family: 'Cormorant Garamond', serif;*/
    /*font-style: italic;*/
    /*font-weight: 700;*/
    /*margin-top:-90%;*/
    /*margin-left: -10%;*/
    /*z-index: 4;*/
/*}*/

.link a:hover{
    color: #0077B5;
}

img #TObig {
    margin-top: 80px;
}

@media (max-width: 700px){
    img #TObig {
        margin-top: 10px;
    }
}

#chinalivelink:hover{
    color: rgba(255, 58, 41, 0.8);
}